@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.navbar{
    @include flex-position(
        flex,
        row,
        auto,
        start,
        center,
        end
    );
    width: 100vw;
    height: 8vh;
    background-color: $cor-bg-azul;
    
    &__btn{
        margin-left: 1rem;
        padding: .7rem 1.3rem;
        border-radius: .5rem .5rem 0rem 0rem;
        color: $cor-font-branco;
    }
    
    .show{
        color: $cor-bg-azul;
        background-color: $cor-bg-branco;
    }
}